# Frontend 
# Node modules
groovy-frontend/node_modules/

# Expo
groovy-frontend/dist/
groovy-frontend/web-build/
groovy-frontend/expo-env.d.ts
groovy-frontend/.expo/

# Native
groovy-frontend/.kotlin/
groovy-frontend/*.orig.*
groovy-frontend/*.jks
groovy-frontend/*.p8
groovy-frontend/*.p12
groovy-frontend/*.key
groovy-frontend/*.mobileprovision

# Backend
groovy-backend/node_modules/
groovy-backend/dist/
groovy-backend/build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo