# Node modules
node_modules/

# Expo
dist/
web-build/
expo-env.d.ts
.expo/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript    
*.tsbuildinfo

# User
.env